[submodule "02-rv32i-pipeline-ice40/riscv-compliance"]
	path = 02-rv32i-pipeline-ice40/riscv-compliance
	url = git@github.com:rongcuid/riscv-compliance.git
        branch = msc_target
[submodule "02-rv32i-pipeline-ice40/zephyr"]
	path = 02-rv32i-pipeline-ice40/zephyr
	url = git@github.com:rongcuid/zephyr.git
        branch = contest/msc-port
